.card-header,
h2 {
    font-size: 1.2rem;
}

.form-card {
    padding: 2px 7px;
    box-shadow: 0 4px 8px 0 rgb(235 230 240);
    transition: 0.3s;
    background-color: #e3e9ee;
    background-image: linear-gradient(#e3e9ee, #c0cfd6);
}

.radioLogin {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #286176;
    font-weight: 500;
}

span {
    font-size: 11pt;
}

.row {
    display: flex;
}

.abhi {
    display: flex;
    justify-content: flex-end;
}

 ::ng-deep .form-control:disabled {
    background-color: white;
    opacity: 1;
}
