<h5>Lead History</h5>
<div class="row">
    <div class="col-sm-12">
        <div class="card form-card">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="followName">Enquiry No</label>
                            <input id="followName" class="form-control" disabled [value]="history.EnquiryNo">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Enquiry Date</label>
                            <input class="form-control" disabled [value]="enquiryDate">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Enquiry Type</label>
                            <input class="form-control" disabled [value]="history.EnquiryTypeName">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Customer Type</label>
                            <input class="form-control" disabled [value]="history.CustomerType">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input class="form-control" disabled [value]="history.CustomerName">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>created By</label>
                            <input class="form-control" disabled [value]="history.CreatedBy">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Submitted By</label>
                            <input class="form-control" disabled [value]="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Verified/Rejected By</label>
                            <input class="form-control" disabled [value]="history?.UserVerifiedBy">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Approved By</label>
                            <input class="form-control" disabled [value]="history.ApprovedBy">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Closed By</label>
                            <input class="form-control" disabled [value]="history.ClosedBy">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Closed Remarks</label>
                            <input class="form-control" disabled [value]="history.ClosedRemarks">
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-md-12 mt-2 mb-2  content-end" (click)="back2table()">
                <button class="btn btn-danger" type="cancel">BACK</button>
            </div>
        </div>&nbsp; &nbsp;
        <div>
            <h6>Assigned Deatils</h6>
            <div class="tableMobile mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S. NO</th>
                            <th>Assigned Date</th>
                            <th>Assigned By</th>
                            <th>Assigned To</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of assignedDeatils let i = index">
                            <td>{{i+1}}</td>
                            <td class="ellipsis" matTooltipPosition="above">{{data.AssignDate|date}}</td>
                            <td>{{data.AssignedBy}}</td>
                            <td>{{data.AssignedTo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h6>contact Person Deatils</h6>
            <div class="tableMobile mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S. NO</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Email-Id</th>
                            <th>Contact No</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of personDeatils let i = index">
                            <td>{{i+1}}</td>
                            <td class="ellipsis" matTooltipPosition="above">{{data.ContactPersonName}}</td>
                            <td>{{data.DepartmentName}}</td>
                            <td>{{data.ContactPersonDesignation}}</td>
                            <td>{{data.ContactPersonEMail}}</td>
                            <td>{{data.ContactPersonMobile}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h6>Product Deatils</h6>
            <div class="tableMobile mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S. NO</th>
                            <th>Item Name</th>
                            <th>Specification</th>
                            <th>UOM</th>
                            <th>Quantity</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of productDeatils let i = index">
                            <td>{{i+1}}</td>
                            <td>{{data.Itemname}}</td>
                            <td class="ellipsis" matTooltipPosition="above">{{data.SizeDetails}}</td>
                            <td>{{data.UOM}}</td>
                            <td>{{data.Quantity}}</td>
                            <td class="ellipsis" matTooltipPosition="above">{{data.Remarks}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div>
            <h6>Follow-up Deatils</h6>
            <div class="tableMobile mt-4">
                <table class="table">
                    <thead>
                        <tr>
                            <th>S. NO</th>
                            <th>Follow-up Date</th>
                            <th>Follow-up Mode</th>
                            <th>Follow-up By</th>
                            <th>Contact Person Name</th>
                            <th>Our Remarks</th>
                            <th>Customer Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of followUpDeatils let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{data.FollowupDate}}</td>
                            <td>{{data.FollowupMode}}</td>
                            <td>{{data.FollowupBy}}</td>
                            <td>{{data.ContactPersonName}}</td>
                            <td class="ellipsis" matTooltipPosition="above">{{data.OurRemarks}}</td>
                            <td class="ellipsis" matTooltipPosition="above">{{data.CustomerRemarks}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>