
<h5>Lead History</h5>
<div class="row">
    <div class="col-sm-12">
        <div class="card form-card">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="followName">Assign By</label>
                            <input type="text" id="followName" class="form-control"  disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Assign Date</label>
                            <input type="date" class="form-control"  disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Assign Person</label>
                            <input type="date" class="form-control"  disabled>
                        </div>
                    </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Submitted By</label>
                                <input type="text" class="form-control"  disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Reject By</label>
                                <input type="text" class="form-control"  disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Completed By</label>
                                <input type="text" class="form-control"  disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Completed On</label>
                                <input type="date" class="form-control"  disabled>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="form-group">
                                <label>Customer Contact Phone Number</label>
                                <input type="text" class="form-control" [value]="selectedRowData?.CustomerContactPhoneNumber" disabled>
                            </div>
                        </div> -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Customer Contact Email ID</label>
                                <input type="email" class="form-control"  disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Overdue Follow-up Days</label>
                                <input type="number" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row"> -->
                       
                        
                    <!-- </div> -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Our Remarks</label>
                                <textarea name="ourDeliberation" class="form-control" rows="3"  disabled></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer Remarks</label>
                                <textarea name="customerDeliberation" class="form-control" rows="3" disabled></textarea>
                            </div>
                        </div>
                    </div>
               
            </form>
        </div>
    </div>
    <div class="col-md-12 mt-2 mb-2  content-end" (click)="Cancel()">
        <button class="btn btn-danger" type="cancel">Cancel</button>
    </div>
</div>