<div class="container">
  <!-- <div class="row">
    <div class="col m12">
      <h4 class="mb-3">Lead/Enquiry</h4>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-4 mobRowAngularMaterial">
      <mat-label>Sales Person</mat-label>
      <mat-form-field class="mat-form-field-fluid" appearance="outline">
        <mat-select placeholder="ALL" required (selectionChange)='enquiryList($event.value)'>
          <mat-option value="ALL" selected>ALL</mat-option>
          <mat-option *ngFor="let person of salesPersonList" [value]="person.PersonName">
            {{ person.PersonName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4 mobRowAngularMaterial">
      <mat-label>Status</mat-label>
      <mat-form-field class="mat-form-field-fluid" appearance="outline">
        <mat-select placeholder="ALL" required [(value)]="selectedStatus"
          (selectionChange)="onStatusChange($event.value)">
          <mat-option value="ALL" selected>ALL</mat-option>
          <mat-option *ngFor="let status of StatusList" [value]="status.Desp">{{status.Desp}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-md-4 text-end mtBtn12">
      <button routerLink="/master/undefined/new" class="btn btn-primary">Create new <i class="fa fa-plus-circle"
          aria-hidden="true"></i></button>
    </div>

  </div>

  <div class="col-md-12 mobileview">
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped nowrap">
      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">

        <ng-container *ngIf="column !== 'SN' && column !== 'Action'">
          <th mat-header-cell *matHeaderCellDef mat-sort-header [matTooltip]="columnDisplayNames[column]"
            matTooltipPosition="above">
            <div class="header-wrapper">
              <span class="header-label">{{ columnDisplayNames[column] || column }}</span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container
              *ngIf="column === 'EnquiryDate' || column === 'ReferenceDate' || column === 'NextFollowupdate'; else otherColumn">
              {{ element[column] | date: 'dd/MM/yyyy' }}
            </ng-container>
            <ng-template #otherColumn>
              {{ element[column] }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container *ngIf="column === 'SN'">
          <th mat-header-cell *matHeaderCellDef>
            <span class="header-label">{{ columnDisplayNames[column] || column }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-container>

        <ng-container *ngIf="column === 'EnquiryNo'">
          <th mat-header-cell *matHeaderCellDef>
            <span class="header-label">{{ columnDisplayNames[column] || column }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element[column] }}
          </td>
        </ng-container>

        <ng-container *ngIf="column === 'Action'">
          <th mat-header-cell *matHeaderCellDef>
            <span class="header-label">{{ columnDisplayNames[column] || column }}</span>
          </th>
          <td mat-cell *matCellDef="let row" class="text-center action-link action-col">
            <button class="btn btn-primary" routerLink="/master/{{row.Code}}/new">
              <!-- [disabled]="row.Verified === 'Y' || row.Verified === 'R'"> -->
              <i class="fa fa-pencil" aria-hidden="true" title="Edit"></i>
            </button>
            <span class="button-spacing"></span> <!-- Add spacing between buttons -->
            <button class="btn btn-danger" data-bs-toggle="modal" (click)="deleteLead(row.Code)"><i
                class="fa fa-trash-o" aria-hidden="true" title="Delete"></i></button>
            <span class="button-spacing"></span> <!-- Add spacing between buttons -->
            <button class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                (click)="openAssignModal(row)"> ...</button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item"><button class="btn btn-success modalbtn" data-bs-toggle="modal"
                      data-bs-target="#myModalVerify">Verify</button></a>
                </li>
                <li><a class="dropdown-item">
                    <button class="btn btn-primary modalbtn" data-bs-toggle="modal"
                      data-bs-target="#myModalAssign">Assign</button></a>
                </li>
                <li><a class="dropdown-item"><button class="btn btn-primary modalbtn" (click)="openFollowUp(row.Code)"
                      [disabled]="row.Verified !== 'Y'">Follow Up</button></a>
                </li>
                <li><a class="dropdown-item"><button class="btn btn-primary modalbtn"
                      routerLink="/master/{{row.Code}}/history">History</button></a>
                </li>
              </ul>
            </button>

            <!-- The Modal Assign -->
            <div class="modal" id="myModalAssign">
              <div class="modal-dialog">
                <div class="modal-content">

                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Assign</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>

                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-6 form-group">
                          <!-- <label for="">Sales Person</label> -->
                          <!-- <select class="form-control" [value]="assignPerson" (hange)="onPersonChange($event)">
                            <option disabled [ngValue]="null">Sales Person</option>
                            <option *ngFor="let person of salesPersonList" [ngValue]="person">
                              {{ person.PersonName }}
                            </option>
                          </select> -->

                          <select class="form-control" [(ngModel)]="assignPerson" (change)="onPersonChange($event)">
                            <option disabled value="">Sales Person</option>
                            <option *ngFor="let person of salesPersonList" [value]="person.PersonName">
                              {{ person.PersonName }}</option>
                          </select>
                        </div>

                        <div class="col-md-6">
                          <!-- <button class="btn btn-success">Assign</button> &nbsp;&nbsp;&nbsp; -->
                          <!-- <button class="btn btn-danger">Cancel</button> -->
                        </div>

                      </div>
                    </div>
                  </div>

                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button class="btn btn-success" (click)="getAssign(selectedRow.Code)">Assign</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                  </div>

                </div>
              </div>
            </div>

            <!-- The Modal Verify -->
            <div class="modal" id="myModalVerify" #myModalVerify>
              <div class="modal-dialog">
                <div class="modal-content">
                  <!-- Modal Header -->
                  <div class="modal-header">
                    <h4 class="modal-title">Verify</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <!-- Modal body -->
                  <div class="modal-body">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-md-2">
                          <label>Remarks</label>
                        </div>
                        <div class="col-md-10">
                          <input type="text" class="form-control" [formControl]="remarksControl" maxLength="100">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button class="btn btn-success" (click)="enquiryVerify(selectedRow.Code)"
                      [disabled]="!remarksControl.value">Verify</button>
                    &nbsp;&nbsp;&nbsp;
                    <button class="btn btn-danger" (click)="enquiryRejected(selectedRow.Code)"
                      [disabled]="!remarksControl.value">Reject</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[ 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>