.mat-sort-header-arrow {
    color: #fff !important;
}

.mat-sort-header-indicator {
    color: #fff !important;
}

.button-spacing {
    margin-right: 4px;
    /* Adjust the margin to your desired spacing */
}

h4 {
    color: #263965;
    font-size: 1.5rem;
}

// Table Dropdown 
.dropup,
.dropend,
.dropdown,
.dropstart,
.dropup-center,
.dropdown-center {
    position: static !important;
    border: none;
}

.dropdown-menu {
    --bs-dropdown-min-width: 7rem;
}

.action-col {
    width: 157px !important;
}

.modal-footer {
    justify-content: end !important;
}

::ng-deep .mat-mdc-select-panel {
    width: 100% !important;
    max-height: 222px !important;
    outline: 0;
    overflow: auto;
    padding: 0px 0 !important;
    border-radius: 4px !important;
    box-sizing: border-box;
    position: static;
    background-color: var(--mat-select-panel-background-color);
}

::ng-deep .mat-mdc-option .mdc-list-item__primary-text {
    white-space: normal;
    font-size: 9pt !important;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-family: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    margin-right: auto;
}

::ng-deep .mat-mdc-select-value {
    font-size: 9pt;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

mat-label {
    padding-right: 17px;
    font-size: 9pt;
}

// .mdc-data-table__table {
//     min-width: 110%;
// }

// .mat-mdc-header-cell {
//     max-width: 122px;
// }


@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .text-end {
        text-align: left !important;
    }
}