<!-- app.component.html -->
 
<div class="delete-confirmation-dialog">
  <h5 class="header-bg" mat-dialog-title> {{this.elementData.Code === undefined  ? 'Add Payment Terms':'Update Payment Terms'}}</h5>
  <!-- <button class="close" mat-button  mat-dialog-close (click)="onNoClick()">X</button> -->
  
 <form [formGroup]="paymentTermsForm">
    <div mat-dialog-content>
      <div>
        <label><b>Description</b></label>
        <div>
          <input type="text" class="form-control" formControlName="description"  maxlength="50" placeholder=" Enter Description"  (keypress)="allowAlphabetsOnly($event)">
          <div *ngIf="submitted && f['description'].errors" class="text-danger">
            <div *ngIf="f['description'].hasError('required')">Description is Required</div>
          </div>
        </div>
        
<div>
          <mat-radio-group aria-label="Select an option" formControlName="status">
            <mat-radio-button value="Y" >Active</mat-radio-button>
            <mat-radio-button value="N">Inactive</mat-radio-button>
          </mat-radio-group>
          <div *ngIf="submitted && f['status'].errors" class="text-danger">
            <div *ngIf="f['status'].hasError('required')">Please Select Status</div>
          </div>
        </div>
        <!-- <section class="example-section">
          <mat-checkbox class="example-margin" formControlName="advancePayment">Advance Payment</mat-checkbox>
        </section> -->


        <section class="example-section">
          <mat-checkbox class="example-margin" formControlName="advancePayment">Advance Payment</mat-checkbox>
        </section>
      </div>
      <label><b>Advance Payment (%)</b></label>
      <div>

        <input type="text" class="form-control" (keypress)="allowNumberOnly($event)" (input)="validateInput($event)" placeholder="0.00" maxlength="5" formControlName="advancePaymentPercentage" >

        <!-- <input type="text" class="form-control"   (keypress)="allowNumberOnly($event)" placeholder="0.00" maxlength="5" formControlName="advancePaymentPercentage" > -->
        <div *ngIf="submitted && f['advancePaymentPercentage'].errors" class="text-danger">
          <div *ngIf="f['advancePaymentPercentage'].hasError('required')">Advance Payment Percentage is Required</div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="content-end">
      <button  type="button"class="btn btn-danger me-1" mat-dialog-close   (click)="onNoClick()">Close</button>
   

     
      <button type="button" class="btn btn-success"  (click)="savePaymentTerms()" >{{this.elementData.Code === undefined  ?'Save':'Update'}}</button>
    </div>
  </form>
</div>


<!-- app.component.html -->
 

  

