<h5>New Follow-up Form</h5>
<div class="row">
    <div class="col-sm-12">
        <div class="card form-card">
            <form [formGroup]="newFollowUpForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Our Remarks</label>
                            <textarea name="ourDeliberation" class="form-control" rows="3" formControlName="ourRemarks"
                                #ourRemarksInput maxlength="300"></textarea>
                            <!-- Display message only if the field is empty and not touched -->
                            <div *ngIf="newFollowUpForm.get('ourRemarks').invalid && (newFollowUpForm.get('ourRemarks').dirty || newFollowUpForm.get('ourRemarks').touched)" class="text-danger">
                                <span class="validation-msg" *ngIf="newFollowUpForm.get('ourRemarks').errors['required']">Our remarks is required</span>
                                <span class="validation-msg" *ngIf="newFollowUpForm.get('ourRemarks').errors['maxlength']">Maximum length of 300 characters exceeded</span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="required">Customer Remarks</label>
                            <textarea name="customerDeliberation" class="form-control" rows="3"
                                formControlName="customerRemarks" maxlength="300"></textarea>
                                <div *ngIf="newFollowUpForm.get('customerRemarks').invalid && (newFollowUpForm.get('customerRemarks').dirty || newFollowUpForm.get('customerRemarks').touched)" class="text-danger">
                                    <span class="validation-msg" *ngIf="newFollowUpForm.get('customerRemarks').errors['required']">Customer remarks is required</span>
                                    <span class="validation-msg" *ngIf="newFollowUpForm.get('customerRemarks').errors['maxlength']">Maximum length of 300 characters exceeded</span>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          <label class="required" for="CustomerContactPersonName">Customer Contact Person Name</label>
                          <select class="form-control" formControlName="CustomerContactPersonName">
                            <option value="" disabled selected>Select</option>
                            <option *ngFor="let option of options" [value]="option.ContactPersonName">{{ option.ContactPersonName }}</option>
                          </select>
                          <div *ngIf="newFollowUpForm.get('CustomerContactPersonName').invalid && newFollowUpForm.get('CustomerContactPersonName').touched" class="text-danger validation-msg">
                            Please select any customer contact person Name.
                        </div>
                        </div>
                      </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Follow-up Date</label>
                            <input type="date" class="form-control" formControlName="followupDate" [min]="minDate">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="required">Follow-up Mode</label>
                            <select class="form-control" formControlName="FollowupMode">
                                <option value="" disabled selected>Select</option>
                                <option value="call">Call</option>
                                <option value="whatsapp">Whatsapp</option>
                                <option value="email">Email</option>
                                <option value="message">Message</option>
                                <option value="visit">Visit/Meeting</option>
                            </select>
                        </div>
                        <div *ngIf="newFollowUpForm.get('FollowupMode').invalid && newFollowUpForm.get('FollowupMode').touched" class="text-danger validation-msg">
                            Please select a Mode.
                        </div>
                    </div>
                     <!-- Checkbox for showing/hiding next follow-up fields -->
                     <div class="col-md-12">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="showNextFollowup" formControlName="showNextFollowup">
                            <label class="form-check-label" for="showNextFollowup">Next Follow-up Required</label>
                        </div>
                    </div>

                    <!-- Conditionally shown fields -->
                    <div class="col-md-4" *ngIf="newFollowUpForm.get('showNextFollowup').value">
                        <div class="form-group">
                            <label class="required">Next Follow-up Date</label>
                            <input type="date" class="form-control" formControlName="nextFollowupDate" [min]="minDate">
                        </div>
                        <div *ngIf="newFollowUpForm.get('nextFollowupDate').invalid && newFollowUpForm.get('nextFollowupDate').touched" class="text-danger validation-msg">
                            Please select next follow-up date.
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="newFollowUpForm.get('showNextFollowup').value">
                        <div class="form-group">
                            <label class="required" for="nextFollowMode">Next Follow-up Mode</label>
                            <select class="form-control" formControlName="nextFollowupMode">
                                <option value="" disabled>Select</option>
                                <option value="call">Call</option>
                                <option value="whatsapp">Whatsapp</option>
                                <option value="email">Email</option>
                                <option value="message">Message</option>
                                <option value="visit">Visit/Meeting</option>
                            </select>
                            <div *ngIf="newFollowUpForm.get('nextFollowupMode').invalid && newFollowUpForm.get('nextFollowupMode').touched" class="text-danger validation-msg">
                                Please select a Mode.
                            </div>
                        </div>
                    </div>
       
                   
                    
                </div>
            
                <div class="col-md-12 mt-2  mb-2 content-end">
                    <button class="btn btn-danger me-1" type="cancel" (click)="Cancel()">Back</button>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>