<!-- app.component.html -->
<div class="container">
  <div class="col-md-12 mt-4 mb-2 text-end">
    <button type="button" class="btn btn-primary" (click)="addDialog('')">
      Create new <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
  </div>
  <div>
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped nowrap">
      <!-- class="mat-elevation-z8"  -->
      <ng-container matColumnDef="sNo">
        <th mat-header-cell *matHeaderCellDef> S.No </th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ MatPaginator1.pageIndex * MatPaginator1.pageSize + (i + 1) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="bankName">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="">Bank Name</th>
        <td mat-cell *matCellDef="let element"> {{element?.BankName}} </td>
      </ng-container>
      <ng-container matColumnDef="aliasName">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="BankName">Alias Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.AliasName}} </td>
      </ng-container>
 
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="AccountNo">Account No. </th>
        <td mat-cell *matCellDef="let element"> {{element?.AccountNo}} </td>
      </ng-container>
      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="CurrencyName">currency</th>
        <td mat-cell *matCellDef="let element">{{element?.CurrencyName}}</td>
      </ng-container>
      <ng-container matColumnDef="nation">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="Nation">Nation </th>
        <td mat-cell *matCellDef="let element"> {{element.Nation}} </td>
      </ng-container>
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="State">State  </th>
        <td mat-cell *matCellDef="let element"> {{element.State}} </td>
      </ng-container>


      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="City">city </th>
        <td mat-cell *matCellDef="let element"> {{element?.City}} </td>
      </ng-container>
      <ng-container matColumnDef="pin">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="PinCode">Pin Code</th>
        <td mat-cell *matCellDef="let element"> {{element?.PinCode}} </td>
      </ng-container>
      <ng-container matColumnDef="ifsc">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="IFSC_Code">IFSC Code</th>
        <td mat-cell *matCellDef="let element"> {{element.IFSC_Code}} </td>
      </ng-container>
      <ng-container matColumnDef="swift">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="SwiftCode">Swift Code</th>
        <td mat-cell *matCellDef="let element"> {{element.SwiftCode}} </td>
      </ng-container>
    
      

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef   mat-sort-header="Address">Address</th>
        <td mat-cell *matCellDef="let element">{{element?.Address}} </td>
      </ng-container>
    
      <ng-container matColumnDef="taxNo">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="ServiceTaxNo">Tax No.</th>
        <td mat-cell *matCellDef="let element"> {{element.ServiceTaxNo}} </td>
      </ng-container>
      <ng-container matColumnDef="pan">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="PANNo">Pan No.</th>
        <td mat-cell *matCellDef="let element"> {{element?.PANNo}} </td>
      </ng-container>
      <ng-container matColumnDef="fax">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="FaxNo">Fax No.</th>
        <td mat-cell *matCellDef="let element"> {{element?.FaxNo}} </td>
      </ng-container>




      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header="EMail">Email Id</th>
        <td mat-cell *matCellDef="let element"> {{element?.EMail}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef title="Action">Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-stroked-button color="primary"   title="Edit" class="btn btn-primary me-1" (click)="addDialog(element)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button mat-stroked-button color="warn" title="Delete" class="btn btn-danger me-1" (click)="deleteBank(element.Code)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" #MatPaginator1></mat-paginator>
  </div>
</div>
