<div class="container">
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 mt-4 mb-2 text-end">
    <button type="button" class="btn btn-primary" (click)="addDialog('')">
      CREATE NEW <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
  </div>
  <div class="col-md-2"></div>
</div>
  <div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table mat-table [dataSource]="dataSource" matSort class="table table-striped nowrap">
      <ng-container matColumnDef="sNo">
        <th mat-header-cell *matHeaderCellDef> S.No. </th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ paginator.pageIndex * paginator.pageSize + (i + 1) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="HSNCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="HSNCode">HSN Code</th>
        <td mat-cell *matCellDef="let element"> {{ element.HSNCode }} </td>
      </ng-container>

      <ng-container matColumnDef="ProductDescription">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="ProductDescription">Product Description</th>
        <td mat-cell *matCellDef="let element"> {{ element.ProductDesp }} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef title="Action">Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-stroked-button color="primary" title="Edit" class="btn btn-primary me-1" (click)="editHSNCodeMaster(element.Code)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button mat-stroked-button color="warn" title="Delete" class="btn btn-danger me-1" (click)="deleteHSNCodeMaster(element.Code)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" #paginator></mat-paginator>
  </div>
  <div class="col-md-2"></div>
</div>
</div>