<section>
    <div class="container">
        <form [formGroup]="newHSNCodeForm" (ngSubmit)="saveHSNCode()">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 form-group">
                    <label for="HSNCode">HSN Code</label>
                    <input type="text" formControlName="HSNCode" class="form-control"/>
                </div>
                <div class="col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 form-group">
                    <label for="ProductionDescription">Production/Description</label>
                    <input type="text" formControlName="ProductionDescription" class="form-control"/>
                </div>
                <div class="col-md-6"></div>
            </div>

            <div class="row mt-4 mb-2">
                <input type="hidden" formControlName="Code" class="form-control" value="0"/>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <table border="1" class="table">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Applicable Date</th>
                                <th>MEIS Rate(%)</th>
                                <th>DBK Rate(%) </th>
                            </tr>
                        </thead>
                        <tbody formArrayName="tableRows1">
                            <tr *ngFor="let row of tableRows1.controls; let i = index" [formGroupName]="i">
                                <td>{{i + 1}}</td>
                                <td><input type="date" formControlName="ApplicableDate" class="form-control"/></td>
                                <td><input type="text" formControlName="MEISRate" class="form-control"/></td>
                                <td><input type="text" formControlName="DBKRate" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text-end"><button type="submit" class="btn btn-success">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table border="1" class="table">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Applicable Date</th>
                                <th>Rate(%)</th>
                                <th>Special Rate(%)</th>
                                <th>Cess Rate(%)</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="tableRows2">
                            <tr *ngFor="let row of tableRows2.controls; let i = index" [formGroupName]="i">
                                <td>{{i + 1}}</td>
                                <td><input type="date" formControlName="ApplicableDate1" class="form-control"/></td>
                                <td><input type="text" formControlName="Rate" class="form-control"/></td>
                                <td><input type="text" formControlName="SpecialRate" class="form-control"/></td>
                                <td><input type="text" formControlName="CessRate" class="form-control"/></td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-end"><button type="submit" class="btn btn-success">Save</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1"></div>
            </div>
        </form>
    </div>
</section>
