.delete-confirmation-dialog {
  width: 375px !important;
  border-radius: 4px;
}

.delete-confirmation-dialog .content-end {
  justify-content: flex-end;
}
.header-bg{
  background: #1c527f;
  color: #fff;
}
.form-control{
  width: 100%;

}