<h2 mat-dialog-title>Create New</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="routePlanForm" (ngSubmit)="registerRP">
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="extProcess" class="">Visit Type</label>
                <select id="" class="form-control" formControlName="visitType" placeholder="Visit Type" (change)="appearDealerInputBox($event)">
                    <option value="">Select</option>
                    <option *ngFor="let visit of getRoutePlanVTDropDownList1" [value]="visit.Desp">{{
                        visit.Desp}}
                    </option>
                </select>
                <div *ngIf="routePlanForm.controls['visitType'].touched && !routePlanForm.controls['visitType'].valid" class="text-danger validation-msg">
                    Visit type is required 
                </div>
            </div>
            
            <div class="col-md-4 form-group" *ngIf="showDealerNameList">
                <label class="required">Dealer Name</label>
                <input type="text" formControlName="dealerName" class="form-control">
                <div *ngIf="routePlanForm.controls['dealerName'].touched && !routePlanForm.controls['dealerName'].valid" class="text-danger validation-msg">
                    Dealer name is required 
                </div>
            </div>

            <div class="col-md-4" *ngIf="hideDealerNameList">
                <div class="form-group">
                    <label class="required">Dealer Name</label>
                    <select class="form-control" formControlName='dealerName'>
                        <option value="">Select</option>
                        <option *ngFor="let data of dealerList " [value]=" data.AccountDesp">{{
                            data.AccountDesp}}
                        </option>
                    </select>
                    <div *ngIf="routePlanForm.controls['dealerName'].touched && !routePlanForm.controls['dealerName'].valid" class="text-danger validation-msg">
                        Dealer name is required 
                    </div>
                    <!-- <div class=" text-danger validation-msg"
                        *ngIf="routePlanForm.get('existingCompany').invalid && (routePlanForm.get('existingCompany').dirty || routePlanForm.get('existingCompany').touched)">
                        <div
                            *ngIf="routePlanForm.get('existingCompany').errors['required']">
                            customer name is required</div>
                    </div> -->
                </div>
            </div>

            <div class="col-md-4 form-group">
                <label for="extCustomer" class="required">State</label>
                <select id="abc" class="form-control" getCityList formControlName="state" placeholder="select state"
                    (change)="getCityList($event)">
                    <option value="">Select</option>
                    <option *ngFor="let state of stateList" [value]="state.StateName">{{
                        state.StateName }}
                    </option>
                </select>
                <div *ngIf="routePlanForm.get('state').invalid && (routePlanForm.get('state').dirty || routePlanForm.get('state').touched)"
                    class="text-danger validation-msg">
                    <div *ngIf="routePlanForm.get('state').errors['required']">
                        state is required</div>
                </div>

                
            </div>


            <div class="col-md-4 form-group">
                <label for="extProcess" class="">City</label>
                <select id="abc" formControlName="city" class="form-control">
                    <option value="">Select</option>
                    <option *ngFor="let city of cityList" [value]="city.CityName">{{
                        city.CityName }}
                    </option>
                </select>
                <div *ngIf="routePlanForm.get('city').invalid && (routePlanForm.get('city').dirty || routePlanForm.get('city').touched)"
                    class="text-danger validation-msg">
                    <div *ngIf="routePlanForm.get('city').errors['required']">
                        city is required</div>
                </div>
            </div>

            <div class="col-md-4 form-group">
                <label for="description">Description</label>
                <input type="text" formControlName="description" class="form-control" maxlength="">
                <div *ngIf="submitted && routePlanForm.controls['description'].touched && !routePlanForm.controls['description'].valid" class="text-danger validation-msg">
                    Dealer name is required 
                </div>
            </div>
        </div>
    </form>
</mat-dialog-content>
<!-- <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>ABC</button>
</mat-dialog-actions> -->

<div mat-dialog-actions align="end">
    <button class="btn btn-primary" mat-dialog-close>Cancel</button>&nbsp;
    <button class="btn btn-success" type="submit" (click)="saveData()">   {{editData?.Code == undefined || ''||0 ? 'Save':'Update'}}</button>
</div>