<!-- app.component.html -->

<div class="delete-confirmation-dialog">
  <h5 class="header-bg" mat-dialog-title>
    {{
      this.elementData.Code === undefined || ""
        ? "Add Category "
        : "Update Category"
    }}
  </h5>
  <!-- <button class="close" mat-button  mat-dialog-close (click)="onNoClick()">X</button> -->

  <form [formGroup]="categoryForm">
    <div mat-dialog-content>
      <div>
        <div>
          <div>
            <label><b>Category Name</b></label>
            <div>
              <input
                type="text"
                class="form-control"
                formControlName="category"
                maxlength="50"
                placeholder=" Enter Category Name"
              />
              <div
                *ngIf="submitted && f['category'].errors"
                class="text-danger"
              ></div>
            </div>
          </div>
        </div>
        <div>
          <label><b>Category Description</b></label>
          <input
            type="text"
            class="form-control"
            formControlName="categorydescription"
            maxlength="50"
            placeholder=" Enter Category Description"
          />
          <div
            *ngIf="submitted && f['categorydescription'].errors"
            class="text-danger"
          >
            <!-- <div *ngIf="f['description'].hasError('required')">Description is Required</div> -->
          </div>
        </div>
        <div>
          <label> <b> Component Cost</b></label>
          <input
            type="text"
            class="form-control"
            formControlName="componentcost"
            maxlength="50"
            placeholder="Component Cost% "
          />
          <div
            *ngIf="submitted && f['componentcost'].errors"
            class="text-danger"
          >
            <!-- <div *ngIf="f['description'].hasError('required')">Description is Required</div> -->
          </div>
        </div>
        <section class="example-section">
          <mat-checkbox class="example-margin">Stock Applicable</mat-checkbox>
          <mat-checkbox class="example-margin">Rejected</mat-checkbox>
        </section>
      </div>
    </div>
    <div mat-dialog-actions class="content-end">
      <button
        type="button"
        class="btn btn-danger me-1"
        mat-dialog-close
        (click)="onNoClick()"
      >
        Close
      </button>
      <button
        type="button"
        class="btn btn-success"
        (click)="savecategorydata()"
      >
        {{ this.elementData.code === undefined ? "Save" : "Update" }}
      </button>
    </div>
  </form>
</div>
