.uomrequire{
    font-size: 14px;
}
.btnaction {
    text-align: center;
  }
  
  .btnaction .btn {
    display: inline-block;
    vertical-align: middle;
  }
  .validation-msg {
    font-size: 0.875em;
    color: #dc3545;
  }