<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 mt-4 mb-2 text-end">
      <button type="button" data-toggle="myModalAssign" class="btn btn-primary" (click)="toggleLiveDemo()">CREATE NEW <i
          class="fa fa-plus-circle" aria-hidden="true"></i></button>
    </div>
    <div class="col-md-3">
    </div>
  </div>

  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <table mat-table [dataSource]="dataSource" matSort class="table table-striped nowrap">
        <ng-container matColumnDef="S.No.">
          <th mat-header-cell *matHeaderCellDef> S.No. </th>
          <td mat-cell *matCellDef="let element; let i = index">
            {{ paginator.pageIndex * paginator.pageSize + (i + 1) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="UOM">
          <th mat-header-cell *matHeaderCellDef>UOM</th>
          <td mat-cell *matCellDef="let element">{{ element.UOM }}</td>
        </ng-container>

        <ng-container matColumnDef="GST UOM">
          <th mat-header-cell *matHeaderCellDef>GST UOM</th>
          <td mat-cell *matCellDef="let element">{{ element.GSTUOM }}</td>
        </ng-container>

        <ng-container matColumnDef="Decimal Digits">
          <th mat-header-cell *matHeaderCellDef>Decimal Digits</th>
          <td mat-cell *matCellDef="let element">{{ element.DecimalPoints }}</td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-primary" (click)="editData(element.Code)">
              <i class="fa fa-pencil" aria-hidden="true" title="Edit"></i>
            </button>
            &nbsp;
            <button class="btn btn-danger" (click)="deleteData(element.Code)">
              <i class="fa fa-trash-o" aria-hidden="true" title="Delete"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" #paginator></mat-paginator>
    </div>
    <div class="col-md-3"></div>
  </div>

  <!-- /////////////////////////UOM Modal///////////////////////// -->

  <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <form [formGroup]="newUOMForm" (ngSubmit)="saveUOM()">
      <c-modal-header>
        <h5 cModalTitle>UOM Master </h5>
        <button (click)="toggleLiveDemo()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div class="row mb-2">
          <input type="hidden" formControlName="Code" class="form-control" value="0">
          <div class="col-md-4 form-group">
            <label for="uomname">UOM </label>
            <input type="text" formControlName="uomdesp" class="form-control" maxlength="100"
              (input)="onInputCharacterChange($event)">
            <div
              *ngIf="newUOMForm.get('uomdesp').invalid && (newUOMForm.get('uomdesp').dirty || newUOMForm.get('uomdesp').touched)"
              class="text-danger validation-msg">
              <div *ngIf="newUOMForm.get('uomdesp').errors['required']" class="uomrequire">
                UOM field is required</div>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <label for="gstuomDesp">GST UOM </label>
            <!-- <input type="text" formControlName="gstuomDesp" class="form-control" maxlength="50"> -->
            <select id="gstUom" formControlName="gstuomDesp" class="form-control" maxlength="50">
              <option value="">Select</option>
              <option *ngFor="let gstUom of getGSTUOMList" [value]="gstUom.Desp">{{gstUom.Desp}}</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label for="DigitsAfterDecimal">Decimal Digits </label>
            <input type="text" formControlName="DigitsAfterDecimal" class="form-control"
              (input)="onInputChange($event)">
            <div
              *ngIf="newUOMForm.get('DigitsAfterDecimal').invalid && (newUOMForm.get('DigitsAfterDecimal').dirty || newUOMForm.get('DigitsAfterDecimal').touched)"
              class="text-danger validation-msg">
              <div *ngIf="newUOMForm.get('DigitsAfterDecimal').errors['required']" class="uomrequire">
                Decimal field is required</div>
            </div>
          </div>
        </div>
      </c-modal-body>
      <c-modal-footer>
        <button cButton color="success" type="submit">SAVE</button>
        <button (click)="toggleLiveDemo()" cButton color="danger">CLOSE</button>
      </c-modal-footer>
    </form>
  </c-modal>
  <!-------------Edit UOM6----------------->

  <c-modal id="editDemoModal" [visible]="visible1" (visibleChange)="handleLiveDemoChange($event)">
    <form [formGroup]="newUOMForm" (ngSubmit)="saveUOM()">
      <c-modal-header>
        <h5 cModalTitle>UOM Master </h5>
        <button (click)="editDemoModal()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div class="row mb-2">
          <input type="hidden" formControlName="Code" class="form-control" value="0">
          <div class="col-md-4 form-group">
            <label for="uomname">UOM </label>
            <input type="text" formControlName="uomdesp" class="form-control" maxlength="100"
              (input)="onInputCharacterChange($event)">
            <div
              *ngIf="newUOMForm.get('uomdesp').invalid && (newUOMForm.get('uomdesp').dirty || newUOMForm.get('uomdesp').touched)"
              class="text-danger validation-msg">
              <div *ngIf="newUOMForm.get('uomdesp').errors['required']" class="uomrequire">
                UOM field is required</div>
            </div>
          </div>
          <div class="col-md-4 form-group">
            <label for="gstuomDesp">GST UOM </label>
            <select id="gstUom" formControlName="gstuomDesp" class="form-control" maxlength="50">
              <option value="">Select</option>
              <option *ngFor="let gstUom of getGSTUOMList" [value]="gstUom.Desp">{{gstUom.Desp}}</option>
            </select>
          </div>
          <div class="col-md-4 form-group">
            <label for="DigitsAfterDecimal">Decimal Digits </label>
            <input type="text" formControlName="DigitsAfterDecimal" class="form-control"
              (input)="onInputChange($event)">
            <div
              *ngIf="newUOMForm.get('DigitsAfterDecimal').invalid && (newUOMForm.get('DigitsAfterDecimal').dirty || newUOMForm.get('DigitsAfterDecimal').touched)"
              class="text-danger validation-msg">
              <div *ngIf="newUOMForm.get('DigitsAfterDecimal').errors['required']" class="uomrequire">
                Decimal field is required</div>
            </div>
          </div>
        </div>
      </c-modal-body>
      <c-modal-footer>
        <button cButton color="success" type="submit">UPDATE </button>
        <button (click)="editDemoModal()" cButton color="danger">CLOSE </button>
      </c-modal-footer>
    </form>
  </c-modal>
</div>