<!-- app.component.html -->

<div class="delete-confirmation-dialog">
    <h5 class="header-bg" mat-dialog-title>
      {{
        this.elementData.Code === undefined || ""
          ? "Country Master "
          : "Country Master"
      }}
       <i type="button" class="fa fa-times-circle-o cursor" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
    </h5>    
    <form [formGroup]="countryForm">
      <div mat-dialog-content>
        <div>
          <div>
            <div>
              <label><b>Country Name</b></label>
              <div>
                <input
                  type="text"
                  class="form-control"
                  formControlName="country"
                  maxlength="50"
                  placeholder=" Enter Country Name"
                  (keypress)="allowAlphabetsOnly($event)"
                />
                <div *ngIf="submitted && f['country'].errors" class="text-danger">
                  <div *ngIf="f['country'].hasError('required')">Country Name is required</div>
                </div>
                <div
                  *ngIf="submitted && f['country'].errors"
                  class="text-danger"
                ></div>
              </div>
            </div>
          </div>
          <div>
            <label><b>Country Code</b></label>
            <input
              type="text"
              class="form-control"
              formControlName="countrycode"
              maxlength="50"
              placeholder=" Enter Country Code"
              (keypress)="allowNumberOnly($event)"
            />
            <div *ngIf="submitted && f['countrycode'].errors" class="text-danger">
              <div *ngIf="f['countrycode'].hasError('required')">Country Code is required</div>
            </div>
            <div
              *ngIf="submitted && f['countrycode'].errors"
              class="text-danger"
            >
              <!-- <div *ngIf="f['description'].hasError('required')">Description is Required</div> -->
            </div>
          </div>
          
        </div>
      </div>
      <div mat-dialog-actions class="content-end mt-4">
        <button
          type="button"
          class="btn btn-success"
          (click)="savecountrydata()"
        >
          {{ this.elementData.Code === undefined ? "SAVE" : "UPDATE" }}
        </button>
        <button
        type="button"
        class="btn btn-danger me-1"
        mat-dialog-close
        (click)="onNoClick()"
      >
        CLOSE
      </button>
      </div>
    </form>
  </div>
  