:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}


.dashboardimg {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}