<h5>Update Follow-up Form</h5>
<div class="row">
  <div class="col-sm-12">
    <div class="card form-card">
      <form [formGroup]="newFollowUpForm" (ngSubmit)="onUpdate()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Our Remarks</label>
              <textarea name="ourDeliberation" class="form-control" rows="3" formControlName="OurRemarks" #ourRemarksInput></textarea>
              <div *ngIf="newFollowUpForm.get('OurRemarks').invalid && (newFollowUpForm.get('OurRemarks').dirty || newFollowUpForm.get('OurRemarks').touched)" class="text-danger validation-msg">
                <span *ngIf="newFollowUpForm.get('OurRemarks').errors['required']">Our deliberation is required</span>
                <span *ngIf="newFollowUpForm.get('OurRemarks').errors['maxlength']">Maximum length of 300 characters exceeded</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Customer Remarks</label>
              <textarea name="customerDeliberation" class="form-control" rows="3" formControlName="CustomerRemarks"></textarea>
              <div *ngIf="newFollowUpForm.get('CustomerRemarks').invalid && (newFollowUpForm.get('CustomerRemarks').dirty || newFollowUpForm.get('CustomerRemarks').touched)" class="text-danger validation-msg">
                <span *ngIf="newFollowUpForm.get('CustomerRemarks').errors['required']">Customer deliberation is required</span>
                <span *ngIf="newFollowUpForm.get('CustomerRemarks').errors['maxlength']">Maximum length of 300 characters exceeded</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="CustomerContactPersonName">Customer Contact Person Name</label>
              <select class="form-control" formControlName="CustomerContactPersonName">
                <option *ngFor="let option of options" [value]="option.ContactPersonName">{{ option.ContactPersonName }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>Follow-up Date</label>
              <input type="date" class="form-control" formControlName="FollowupDate">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="FollowupMode">Follow-up Mode</label>
              <select class="form-control" formControlName="FollowupMode">
                <option value="call">Call</option>
                <option value="whatsapp">Whatsapp</option>
                <option value="email">Email</option>
                <option value="message">Message</option>
                <option value="visit">Visit/Meeting</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="showNextFollowup" formControlName="showNextFollowup">
              <label class="form-check-label" for="showNextFollowup">Next Follow-up Required</label>
            </div>
          </div>
          <div class="col-md-4" *ngIf="newFollowUpForm.get('showNextFollowup').value">
            <div class="form-group">
              <label>Next Follow-up Date</label>
              <input type="date" class="form-control" formControlName="NextFollowupDate" [min]="minDate">
            </div>
          </div>
          <div class="col-md-4" *ngIf="newFollowUpForm.get('showNextFollowup').value">
            <div class="form-group">
              <label for="NextFollowupMode">Next Follow-up Mode</label>
              <select class="form-control" formControlName="NextFollowupMode">
                <option value="call">Call</option>
                <option value="whatsapp">Whatsapp</option>
                <option value="email">Email</option>
                <option value="message">Message</option>
                <option value="visit">Visit/Meeting</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-12 mt-2 mb-2 content-end">
          <button class="btn btn-success me-1" type="button" (click)="Cancel()">Back</button>
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
