<!-- app.component.html -->

<div class="delete-confirmation-dialog">
  <h5 class="header-bg" mat-dialog-title style="text-align: center;">
    {{
      this.elementData.Code === undefined || ""
        ? "Quality Parameter Master "
        : "Quality Parameter Master "
    }}
  </h5>
  <!-- <button class="close" mat-button  mat-dialog-close (click)="onNoClick()">X</button> -->

  <form [formGroup]="chemicalForm">
    <div mat-dialog-content>
      <div>
        <div>
          <label><b>Parameter Name</b></label>
          <input
            type="text"
            class="form-control"
            formControlName="sortorder"
            maxlength="50"
            placeholder=" Enter Sort Order"
            (keypress)="orderValidation($event)"
          />
          <div *ngIf="submitted && f['sortorder'].errors" class="text-danger">
            <!-- <div *ngIf="f['description'].hasError('required')">Description is Required</div> -->
          </div>
        </div>
        <div>
          <div>
            <label><b>Parameter Type</b></label>
            <mat-radio-group class="example-radio-group" [(ngModel)]="formType">
              <mat-radio-button class="example-radio-button" *ngFor="let formtype of parameter" [value]="formtype">
                {{formtype}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div>
          <label> <b> Inspection Method</b></label>
          <input
            type="text"
            class="form-control"
            formControlName="inspection"
            maxlength="50"
            placeholder="Inspection Method "
          />
          <div *ngIf="submitted && f['inspection'].errors" class="text-danger">
            <!-- <div *ngIf="f['description'].hasError('required')">Description is Required</div> -->
          </div>
        </div>
<!-- ///////////////////////////////////////////////////////////////////Dialog Grid/////////////////////////////////////////////////// -->
        <div class="row">
          <div class="col-md-4">
            <mat-table  [dataSource]="dataSource" class="mat-elevation-z8">          
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderRowDef> S.NO. </mat-header-cell>
                <mat-cell *matRowDef="let element"> 1. </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderRowDef> Name </mat-header-cell>
                <mat-cell *matRowDef="let element"> Testing Method </mat-cell>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
             <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


            </mat-table>
           
          </div>
          <div class="col-md-8">
            <mat-table [dataSource]="dataSource" >
              <ng-container matColumnDef=" ">
                 <mat-header-cell *matHeaderCellDef="">S.NO. </mat-header-cell>
                 <mat-cell *matCellDef=" let element"> Value</mat-cell>
              </ng-container>
              <ng-container matColumnDef=" ">
                 <mat-header-cell *matHeaderCellDef="">Item/Grade </mat-header-cell>
                 <mat-cell *matCellDef=" let element"> Value</mat-cell>
              </ng-container>
              <ng-container matColumnDef=" ">
                 <mat-header-cell *matHeaderCellDef="">Standerd Value </mat-header-cell>
                 <mat-cell *matCellDef=" let element"> Value</mat-cell>
              </ng-container>
              <ng-container matColumnDef=" ">
                 <mat-header-cell *matHeaderCellDef="">Minimun </mat-header-cell>
                 <mat-cell *matCellDef=" let element"> Value</mat-cell>
              </ng-container>
              <ng-container matColumnDef=" ">
                 <mat-header-cell *matHeaderCellDef="">Maximum </mat-header-cell>
                 <mat-cell *matCellDef=" let element"> Value</mat-cell>
              </ng-container>
            </mat-table>
            
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions class="content-end">
      <button
      type="button"
      class="btn btn-success"
      (click)="savechemicaldata()"
    >
      {{ this.elementData.Code === undefined ? "SAVE" : "UPDATE" }}
    </button>
      <button
        type="button"
        class="btn btn-danger me-1"
        mat-dialog-close
        (click)="onNoClick()"
      >
        CLOSE
      </button>
    </div>
  </form>
</div>
