.visit {
    margin: 20px;
  }
  
  .visit div {
    margin-bottom: 10px;
  }
  
  .mat-form-field {
    width: 200px;
    margin-right: 10px;
  }
  
  table {
    width: 100%;
  }
  
  button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.CheckedOut {
    background-color: red;
    color: white;
  }
  
  button.CheckIn {
    background-color: blue;
    color: white;
  }
  
  button.CheckIn, button.Edit, button.View, button.Verified {
    background-color: lightgray;
    color: black;
  }
  
  button.Verified {
    background-color: green;
    color: white;
  }
  ::ng-deep .mat-sort-header-content {
    width: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
  }
   .header-wrapper {
      display: flex;
      align-items: center;
    }
    ::ng-deep .label {
      display: block !important;
  }
    .header-label {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      max-width: 106px;
    }
   ::ng-deep .mat-sort-header-container {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      letter-spacing: normal;
      outline: 0;
  }
.row-alignment{
    align-items: center;
}
.highlight-date .mat-calendar-body-cell-content {
    background-color: yellow; /* Adjust color as needed */
    border-radius: 50%;
  }