.upload-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .upload-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .selected-files {
    margin-bottom: 20px;
  }
  
  .selected-files ul {
    list-style-type: none;
    padding: 0;
  }
  
  .selected-files li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .selected-files button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.close-button mat-icon {
    font-size: 24px;
}
.upload-wits-or-files-area {
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .cardbody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .corner-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }