<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-4 mb-2 text-end">
      <button type="button" data-toggle="myModalAssign" class="btn btn-primary" (click)="toggleLiveDemo()">
        Create new <i class="fa fa-plus-circle" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <table mat-table [dataSource]="dataSource" matSort class="table table-striped nowrap">
        <ng-container matColumnDef="S.No.">
          <th mat-header-cell *matHeaderCellDef> S.No. </th>
          <td mat-cell *matCellDef="let department; let i = index">
            {{ paginator.pageIndex * paginator.pageSize + (i + 1) }}
          </td>
        </ng-container>

        <ng-container matColumnDef="Department Code">
          <th mat-header-cell *matHeaderCellDef>Department Code</th>
          <td mat-cell *matCellDef="let department">{{ department.Initials }}</td>
        </ng-container>

        <ng-container matColumnDef="Department Name">
          <th mat-header-cell *matHeaderCellDef>Department Name</th>
          <td mat-cell *matCellDef="let department">{{ department.DepartmentName }}</td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let department">
            <button class="btn btn-primary" (click)="editData(department.Code)">
              <i class="fa fa-pencil" aria-hidden="true" title="Edit"></i>
            </button>
            &nbsp;
            <button class="btn btn-danger" (click)="deleteData(department.Code)">
              <i class="fa fa-trash-o" aria-hidden="true" title="Delete"></i>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" #paginator></mat-paginator>
    </div>
    <div class="col-md-3"></div>
  </div>

  <!-- /////////////////////////Department Modal///////////////////////// -->

  <!-- <button (click)="toggleLiveDemo()" cButton>Launch demo modal</button> -->

  <c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <form [formGroup]="newDepartmentForm" (ngSubmit)="saveDepartment()">
      <c-modal-header>
        <h5 cModalTitle>Department Master (New)</h5>
        <button (click)="toggleLiveDemo()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div class="row mb-2">
          <input type="hidden" formControlName="Code" class="form-control" value="0">
          <div class="col-md-6 form-group">
            <label for="deptCode">Department Code:</label>
            <input type="text" formControlName="departmentCode" class="form-control" maxlength="40">
          </div>
          <div class="col-md-6 form-group">
            <label for="deptName">Department Description:</label>
            <input type="text" formControlName="departmentName" class="form-control" maxlength="50">
          </div>
          <!-- <div class="col-md-6 form-group">
          <label for="department">Department Type:</label>
          <input type="text" formControlName="departmentType" id="departmentType" class="form-control" name="departmentCode">
          <select id="department" formControlName="departmentType" class="form-control">
            <option value="" >Select</option>
            <option *ngFor="let department of departmentTypeList" [value]="department.Desp">{{department.Desp}}</option>
      </select>
        </div> -->
          <!-- <div class="col-md-6 form-group">
            <label for="departmentMail">E-Mail:</label>
          <input type="email" formControlName="email" class="form-control" required>
        </div> -->
        </div>
      </c-modal-body>
      <c-modal-footer>
        <button cButton color="success" type="submit">Save</button>
        <button (click)="toggleLiveDemo()" cButton color="secondary">Close</button>
      </c-modal-footer>
    </form>
  </c-modal>

  <!-------------Edit Department----------------->

  <c-modal id="editDemoModal" [visible]="visible1" (visibleChange)="handleLiveDemoChange($event)">
    <form [formGroup]="newDepartmentForm" (ngSubmit)="saveDepartment()">
      <c-modal-header>
        <h5 cModalTitle>Department Master (Update)</h5>
        <button (click)="editDemoModal()" cButtonClose></button>
      </c-modal-header>
      <c-modal-body>
        <div class="row mb-2">
          <input type="hidden" formControlName="Code" class="form-control" value="0">
          <div class="col-md-6 form-group">
            <label for="deptCode">Department Code:</label>
            <input type="text" formControlName="departmentCode" class="form-control">
          </div>
          <div class="col-md-6 form-group">
            <label for="deptName">Department Description:</label>
            <input type="text" formControlName="departmentName" class="form-control">
          </div>
          <!-- <div class="col-md-6 form-group">
          <label for="department">Department Type:</label>
          <input type="text" formControlName="departmentType" id="departmentType" class="form-control" name="departmentCode">
          <select id="department" formControlName="departmentType" class="form-control">
            <option value="" >Select</option>
            <option *ngFor="let department of departmentTypeList" [value]="department.Desp">{{department.Desp}}</option>
      </select>
        </div> -->
          <!-- <div class="col-md-6 form-group">
            <label for="departmentMail">E-Mail:</label>
          <input type="email" formControlName="email" class="form-control">
        </div> -->
        </div>
      </c-modal-body>
      <c-modal-footer>
        <button cButton color="success" type="submit">Update </button>
        <button (click)="editDemoModal()" cButton color="secondary">Close</button>
      </c-modal-footer>
    </form>
  </c-modal>
</div>